.v-application {
    .v-toolbar__title {
        h2 {
            font-size: 24px !important;
        }
    }
    .user-list {
        .v-list-item__content {
            padding-left: 20px;
            &.notification-content {
                padding-left: 0px;
            }
            .v-list-item__title {
                font-size: 14px !important;
                font-weight: 600;
            }
            .v-list-item__subtitle {
                font-size: 12px !important;
            }
        }
        .avatar-dot {
            position: absolute;
            left: 10px;
            top: 60%;
        }
        .v-badge.status-badge {
            position: absolute;
            left: 55px;
            bottom: 15px;
            z-index: 1;
            transform: scale(0.7);
            .active {
                .v-badge__badge {
                    background: #57DB28 !important;
                }
                
            }
        }
    }
    .user-list-search-input {
        &.v-input {
            .v-label {
                font-size: 16px !important;
            }
        }
    }
    .chat-box {
        .chat-bubble {
            .headline {
                font-size: 16px !important;
                font-weight: 500;
            }
            &.user-msg {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .user-msg-text {
                    padding: 10px;
                    margin-bottom: 0;
                    border: 0;
                    border-radius: 4px;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 10px;
                        width: 0; 
                        height: 0;
                    }
                }
                &.right-msg {
                    .user-msg-text {
                        background: #E1EDFB;
                        margin-right: 15px;
                        &:after {
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-left: 8px solid #E1EDFB;
                            right: -8px;
                        }
                    }  
                }
                &.left-msg {
                    flex-direction: row-reverse;
                    .user-msg-text {
                        background: #F2F2F2;
                        margin-left: 15px;
                        &:after {
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-right: 8px solid #F2F2F2;
                            left: -8px;
                        }
                    }
                }
                
            }
            
            &.v-card {
                border-color: #ddd;
                border-radius: 8px;
                &.task-msg {
                    border-left-color: #DB2828;
                    border-left-width: 8px;
                }
                .details-btn {
                    margin-top: 2px;
                }
                
            }
        }
        .chat-message-area {
            min-height: calc(100vh - 56px - 56px);
            overflow: auto;
        }
        .messaging-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            .chat-field {
                display: flex;
                width: 100%;
                padding: 10px;
                justify-content: space-between;
                box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
                & > *:not(:last-child) {
                    padding: 0 10px;
                }
                .v-text-field--outlined > .v-input__control > .v-input__slot {
                    border-radius: 30px;
                    min-height: 36px;
                    margin-bottom: 0;
                }
                .v-text-field__details {
                    display: none;
                }
            }
            .chat-btn-group {
                padding: 10px;
                .v-btn {
                    margin: 5px;
                }
            }
        }
    }
    .user-msg-settings {
        .user-msg-settings-btn-group {
            padding: 15px 15px 0;
            &.avatar-btn-group {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                > *:not(:last-child) {
                    margin-right: 10px;
                }
            }
            &.avatar-group {
               .v-avatar {
                   margin-top: 10px;
                    margin-bottom: 10px;
                    &:not(:last-child) {
                        margin-right: 5%;
                    }
               }
            }
        }
        .v-list-item__title {
            font-size: 16px;
            font-weight: 500;
            line-height: 2;
        }
        .v-divider.d-separator {
            border-top-width: 8px;
        }
        
        .staff-list-group {
            .v-list-item__action {
                margin-right: 10px;
            }
            .v-badge {
                position: absolute;
                left: 90px;
                z-index: 1;
                
            }
        }
    }
    .select-all-btn {
        margin-top: 20px;
    }
    .search-bar {
        .v-text-field__details {
            display: none;
        }
        .v-input__slot {
            margin-bottom: 0;
        }
        .v-text-field--outlined > .v-input__control > .v-input__slot {
            min-height: 36px;
        }
        .v-input__append-inner {
            margin-top: 8px;
        }
    }
    .v-avatar-with-label {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        .v-avatar-label {
            font-size: 12px;
            color: #000000DE;
            font-weight: 500;
            margin-top: 3px;
        }
    }
} 
// #57DB28